name: Copy files to destination repo
permissions:
  contents: read

on:
  push:
    branches:
      - main
    paths:
      - 'ReadMe.md'
      - 'CODE_OF_CONDUCT.md'
      - 'CONTRIBUTING.md'
      - 'LICENSE.md'

jobs:
  copy-files:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout source repo
      uses: actions/checkout@v2

    - name: Checkout destination repo
      uses: actions/checkout@v2
      with:
        repository: GalaxyViewer/GalaxyViewer_Website
        token: ${{ secrets.PAT }}
        path: GalaxyViewer_Website

    - name: Copy files
      run: |
        cp ReadMe.md CODE_OF_CONDUCT.md CONTRIBUTING.md LICENSE.md GalaxyViewer_Website/src/_includes/content

    - name: Push changes
      run: |
        cd GalaxyViewer_Website
        git config --local user.email "action@github.com"
        git config --local user.name "GitHub Action"
        git add .
        git commit -m "Update text from source repo"
        git push